.u-section-1 .u-sheet-1 {
  min-height: 495px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 1px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 13px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 107px;
  }
}