{% extends 'base.html' %}
{% block content %}
<div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-text u-text-default u-text-1">ברוכים הבאים למפלגטור</p>
    <p class="u-text u-text-default u-text-2">במשחק זה תצטרכו לענות על שאלות וכך תוכלו לדעת באיזו מפלגה אתם
        תומכים</p>
    <p class="u-text u-text-default u-text-3">לחצו על לחצן ה"משחק חדש" כדי להתחיל משחק</p>
    <a href="/game"
       class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">משחק
        חדש<br>
    </a>
</div>
{% endblock %}